snippet func "function" w
function ${1:name}(${2})
	$0
end
endsnippet

snippet lmd "lambda" w
function($1)
	$0
end
endsnippet

snippet iter "iter" b
for i=1,#${1} do
	$0
end
endsnippet

snippet if "if" b
if $1 then
	$0
end
endsnippet

snippet ifn "if not" b
if not $1 then
	$0
end
endsnippet
