snippet equation "equation" w
\begin {equation}
	$0
\end {equation}
endsnippet

snippet $ "equation" w
$ $1 $ $0
endsnippet

snippet [ "equation" w
\[ $1 \] $0
endsnippet

snippet => "=>" w
\Rightarrow $0
endsnippet

snippet -> "->" w
\to $0
endsnippet

snippet cases "cases" w
\begin{cases}
	$0
\end{cases}
endsnippet
